<launch>

      <param name="fake_odom_initial_x" type="double" value="0" />
      <param name="fake_odom_initial_y" type="double" value="-0" />
      <param name="fake_odom_initial_z" type="double" value="0.1" />
      <param name="fake_odom_initial_yaw" type="double" value="-135" />
      <param name="sim_type" type="string" value="vinsfusion_dji_mini" />  
      
<node pkg="ubplanner_bridge" type="fake_odom_dji"
      args="fake_odom_dji" name="fake_odom_dji" output="screen">
 </node>

</launch>
